*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.dvi
*.gz
*.blg
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.xdv

/tmp/
/document.pdf
/main.pdf

.project
.texlipse
_minted-main

todo-papers

# What's this file? Probably just accident output when trying to exit latex compilation by typing 'x'.
x.tex

